@{
    ViewData["Title"] = "Secure Page 保險網站";
}

<div class="text-center">
    <h1>Secure Page 保險網站</h1>
    <p>Welcome, @User.Identity.Name!</p>
    <p>Access Token: @ViewBag.AccessToken</p>
    <p><a asp-controller="Auth" asp-action="Logout">Logout</a></p>
    <p><a asp-action="RedirectToReward">轉導到集點平台</a></p>
</div>