@{
    ViewData["Title"] = "Secure Page 集點平台";
}

<div class="text-center">
    <h1>Secure Page 集點平台</h1>
    <p>Welcome, @User.Identity?.Name!</p>
    <p>Access Token: @ViewBag.AccessToken</p>
    <p><a asp-controller="Auth" asp-action="Logout">Logout</a></p>
    <p><a asp-action="RedirectToInsurance">轉導到保險網站</a></p>
</div>